[submodule "site-lisp/emacs-application-framework"]
	path = site-lisp/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework
[submodule "site-lisp/all-the-icons-dired"]
	path = site-lisp/all-the-icons-dired
	url = https://github.com/jtbm37/all-the-icons-dired
[submodule "site-lisp/hydra-posframe"]
	path = site-lisp/hydra-posframe
	url = https://github.com/Ladicle/hydra-posframe
[submodule "site-lisp/company-english-helper"]
	path = site-lisp/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper
[submodule "site-lisp/english-teacher"]
	path = site-lisp/english-teacher
	url = https://github.com/loyalpartner/english-teacher.el
[submodule "site-lisp/insert-translated-name"]
	path = site-lisp/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name
[submodule "site-lisp/snails"]
	path = site-lisp/snails
	url = https://github.com/manateelazycat/snails
[submodule "site-lisp/fuz.el"]
	path = site-lisp/fuz.el
	url = https://github.com/rustify-emacs/fuz.el
[submodule "site-lisp/valign"]
	path = site-lisp/valign
	url = https://github.com/casouri/valign
[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray
[submodule "doc/emacs-document"]
	path = doc/emacs-document
	url = git@github.com:lujun9972/emacs-document.git
[submodule "site-lisp/svg-tag-mode"]
	path = site-lisp/svg-tag-mode
	url = https://github.com/rougier/svg-tag-mode
[submodule "site-lisp/describe-symbol"]
	path = site-lisp/describe-symbol
	url = https://github.com/xuchunyang/describe-symbol
[submodule "site-lisp/shengci.el"]
	path = site-lisp/shengci.el
	url = https://github.com/EvanMeek/shengci.el
[submodule "emacs-diredc"]
	path = site-lisp/emacs-diredc
	url = https://github.com/Boruch-Baum/emacs-diredc
